<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
    <div class="">
        <p>
            {{blog.description}}
            <br>
        </p>
    </div>
    <div class="">
        <p>
            Created by {{blog.user.name}} on {{format_date blog.date_created}}
        </p>
    </div>
</div>
{{/each}}